body {
	position: relative;
	margin: 0;
	padding: 0;
	background: #e6e6e6;
	font-family: Arial;
	color: #383b78;
}
p, ul, li, a {
	list-style: none;
	padding: 0;
	margin: 0;
}
#modal {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.15s linear;
	z-index: 0;
}
#modal::after {
	z-index: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.8;
}
.show {
	opacity: 1 !important;
	z-index: 9999 !important;
}
.player .playerWrapper {
	width: 526px;
	border: solid 5px #383b78;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -78.5px;
	margin-left: -263px;
	z-index: 1;
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

#playerMobile {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 2;
}
.player.mobile .playerWrapper {
	width: 100vw;
	border: none;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 0;
	margin-left: 0;
	z-index: 0;
	background: #fff;
	padding: 10px;
	border-radius: 0;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.player .playerWrapper #close {
	position: absolute;
	top: 2px;
	right: 2px;
	background: none;
	color: #383b78;
	font-weight: bold;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
.player .playerWrapper ul.play li:first-child {
	width: 136px;
	height: 136px;
	float: left;
	background: #ccc url(../img/logo_thumb.png) center center no-repeat;
}
.player.mobile .playerWrapper ul.play li:first-child {
	width: 56px;
	height: 56px;
	float: left;
	background: #ccc url(../img/logo_thumb.png) center center no-repeat;
	background-size: 100% auto;
	margin-right: 16px;
}

.player .playerWrapper ul.play li {
	width: 350px;
	float: right;
	margin-right: 19px;
}
.player.mobile .playerWrapper ul.play li {
	width: calc(100vw - 110px);
	float: left;
	margin-right: 0;
}
.player .playerWrapper ul.play li.title {
	margin-top: 7px;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 4px;
}
.player .playerWrapper ul.play li.content {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 4px;
}
.player.mobile .playerWrapper ul.play li.title,
.player.mobile .playerWrapper ul.play li.content {
	display: none;
}

.player .playerWrapper ul.play audio {
	width: 100%;
	background: #fff;
}
#main {
	width: 1250px;
	height: 1250px;
	margin: 0 auto;
	background: #e6e6e6 url("../img/mapa_clear.jpg");
	position: relative;
}
#main #markers {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#main #markers .pin {
	position: absolute;
	cursor: pointer;
	top: -46px;
	left: -14px;
	width: 30px;
	height: 49px;
	background-image: url("../img/PIN2.png");
	background-position: center center;
	background-size: 100%;
}
